
ul.multiselect-container.dropdown-menu > li {
    width: 100%;
    height: 30px;
    text-align: left;
}
ul.multiselect-container.dropdown-menu > li:hover {
    background-color: #eee;
}

ul.multiselect-container.dropdown-menu > li label,
ul.multiselect-container.dropdown-menu > li a {
    outline: none !important;
}

ul.multiselect-container.dropdown-menu > li label {
    /*float: left;*/
    height: 30px;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
}

ul.multiselect-container.dropdown-menu > li label > input {
    margin: -2px 8px !important;
}
ul.multiselect-container.dropdown-menu > li label {
    padding: 3px 10px !important;
}
span.filter_column .btn-group {
    width: 100%;
}
