.dataTables_wrapper {
    display: block;
}
#listable-table-plans-listed > tbody > tr > td:nth-child(7),
#listable-table-plans-listed > tbody > tr > td:nth-child(8),
#listable-table-plans-listed > tbody > tr > td:nth-child(9),
#listable-table-plans-listed > tbody > tr > td:nth-child(10) {
    padding: 0;
    text-align: center;
}

.btn-table {
    width: 100%;
}

/*  ------ sorting ------- */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
    cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting:before {
    content: '\f0dc';
    font-family: FontAwesome, "Font Awesome 5 Free";
    padding-right: 8px;
    /*opacity: 0;*/
}
table.table thead .sorting_asc:before {
    content: '\f0dd';
    font-family: FontAwesome, "Font Awesome 5 Free";
    padding-right: 8px;
}
table.table thead .sorting_desc:before {
    content: '\f0de';
    font-family: FontAwesome, "Font Awesome 5 Free";
    padding-right: 8px;
}
/*table.dataTable tr td.sorting_1 {*/
/*    background-color: #e0d7d0;*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr td.sorting_2 {*/
/*    background-color: #eee8e4;*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr td.sorting_3 {*/
/*    background-color: #f8f2ee;*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable.table-hover > tbody > tr:hover > td.sorting_1 {*/
/*    background-color: #d9d1cd;*/
/*}*/
/*table.dataTable.table-hover > tbody > tr:hover > td.sorting_2 {*/
/*    background-color: #e2dcd6;*/
/*}*/
/*table.dataTable.table-hover > tbody > tr:hover > td.sorting_3 {*/
/*    background-color: #ece5e0;*/
/*}*/


/*  ------ pagination ------  */
a.paginate_disabled_previous, a.paginate_disabled_next {

}
ul.pagination {
    text-align: right;
    float: right;
}
ul.pagination > li > a {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 4px 2px;
    color: #212529;
    min-width: 31px;
    display: inline-block;
    text-align: center;
}
ul.pagination > li:not(.disabled) > a:hover {
    background-color: #e9ecef;
    color: #2b2b2b;
}
ul.pagination > li.disabled > a {
    opacity: 0.65;
    cursor: default;
}
ul.pagination > li.active > a {
    background-color: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
}
ul.pagination > li.active > a:hover {
    background-color: #5a6268;
    border-color: #545b62;
    color: #ffffff;
}


/*  ------ td, th ------  */
table.table-condensed td {
    padding: 2px;
}
thead > tr:nth-child(2) > th:empty {
    opacity: 0;
}
/*thead > tr:nth-child(2) > th > span {*/
/*    opacity: 1 !important;*/
/*}*/

/*  ------ td, th ------  */
table.table tr td {
    border-top-color: #faf4f0;
}
.table-hover tbody tr:hover {
    color: #fff;
}


/*  ------ inputs ------  */
.full-width, .filter_column, .filter_column > div.btn-group {
    width: 100% !important;
    /*min-width: 100px;*/
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
}

/*table > thead > tr:nth-child(2) > th {*/
/*    color: transparent;*/
/*}*/


/*  --- Plan qa ---  */

#planqa-table > thead > tr:nth-child(1) > th:nth-child(1),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(1) {
    width: 22%;
}
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(1),
#structures-table > thead > tr:nth-child(1) > th:nth-child(1) {
    width: 27%;
}

#planqa-table > thead > tr:nth-child(1) > th:nth-child(2),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(2) {
    width: 15%;
}
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(2),
#structures-table > thead > tr:nth-child(1) > th:nth-child(2) {
    width: 10%;
}

#planqa-table > thead > tr:nth-child(1) > th:nth-child(3),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(3),
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(3),
#structures-table > thead > tr:nth-child(1) > th:nth-child(3) {
    width: 13%;
}

#planqa-table > thead > tr:nth-child(1) > th:nth-child(3),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(3) {
    width: 10%;
}
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(3),
#structures-table > thead > tr:nth-child(1) > th:nth-child(3) {
    width: 15%;
}

#planqa-table > thead > tr:nth-child(1) > th:nth-child(4),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(4),
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(4),
#structures-table > thead > tr:nth-child(1) > th:nth-child(4),
#planqa-table > thead > tr:nth-child(1) > th:nth-child(5),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(5),
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(5),
#structures-table > thead > tr:nth-child(1) > th:nth-child(5) {
    width: 14%;
    text-align: center;
    border-bottom: 1px #0d6aad dashed !important;
}

#planqa-table > thead > tr:nth-child(1) > th:nth-child(6),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(6),
#planqa-preview > thead > tr:nth-child(1) > th:nth-child(6),
#structures-table > thead > tr:nth-child(1) > th:nth-child(6) {
    width: 7%;
}
#planqa-table > tbody > tr > td:nth-child(8),
#planqa-edit-table > tbody > tr > td:nth-child(8),
#planqa-preview > tbody > tr > td:nth-child(8),
#structures-table > tbody > tr > td:nth-child(8){
    text-align: center;
    font-size: 12px;
}

#planqa-table > thead > tr:nth-child(1) > th:nth-child(7),
#planqa-edit-table > thead > tr:nth-child(1) > th:nth-child(7) {
    width: 5%;
}

#planqa-table > thead > tr:nth-child(2) > th,
#planqa-edit-table > thead > tr:nth-child(2) > th,
#planqa-preview > thead > tr:nth-child(2) > th,
#structures-table > thead > tr:nth-child(2) > th {
    width: 7%;
}

#listable-table-plans-listed > tbody > tr > td:nth-child(1),
#listable-table-plans-listed > thead > tr > th:nth-child(1),
#listable-table-plans-listed > tfoot > tr > th:nth-child(1) {
    display: none;
}
#listable-table-plans-listed > tbody > tr,
#listable-table-careplan-list > tbody > tr {
    cursor: pointer;
}
#listable-table-plans-listed > thead > tr > th:nth-child(7),
#listable-table-plans-listed > thead > tr > th:nth-child(8),
#listable-table-plans-listed > thead > tr > th:nth-child(9),
#listable-table-plans-listed > thead > tr > th:nth-child(10),
#listable-table-plans-listed > tbody > tr > td:nth-child(7),
#listable-table-plans-listed > tbody > tr > td:nth-child(8),
#listable-table-plans-listed > tbody > tr > td:nth-child(9),
#listable-table-plans-listed > tbody > tr > td:nth-child(10) {
    width: 36px;
    max-width: 36px;
}
#listable-table-plans-listed > thead > tr > th:nth-child(6),
#listable-table-plans-listed > tbody > tr > td:nth-child(6) {
    width: auto;
}
#listable-table-plans-listed {
    table-layout: fixed;
}
table .search_init,
table button[title="------"],
table button[title="------"]:hover,
table button[title="-----"],
table button[title="-----"]:hover {
    color: #bbb;
}

/* tables */
.pagination {
    float: right;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    /*background-color: #605ca8;*/
    background-color: #555299;
    border-color: #555299;
}
table.table {
    width: 100%;
}

table.dataTable tr td.sorting_1 {
    background-color: rgba(91, 73, 188, 0.12);
    border-color: transparent;
}
table.dataTable tr td.sorting_2 {
    background-color: rgba(91, 73, 188, 0.08);
    border-color: transparent;
}
table.dataTable tr td.sorting_3 {
    background-color: rgba(91, 73, 188, 0.04);
    border-color: transparent;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 2px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
    cursor: pointer;
	*cursor: hand;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: none;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}
.full-width, .filter_column, .filter_column > div.btn-group {
    width: 100% !important;
    /*min-width: 100px;*/
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.table > tbody > tr.active > td {
    background-color: #ecf0ff;
}

.pagination {
    margin: 0;
    float: right;
}
table.table-hover tr.no-hover:hover {
    background-color: inherit;
}
table.table-valign-middle > tbody > tr > td,
table.table-valign-middle > thead > tr > td,
table.table-valign-middle > tfoot > tr > td {
    vertical-align: middle;
}
#listable-table-pocs > thead > tr > th:nth-child(12) {
    width: 80px;
}
/*#listable-table-p_list > thead > tr > th:nth-child(3) {*/
/*    width: 85px;*/
/*}*/
#listable-table-treatments > thead > tr > th:nth-child(1) {
    width: 80px;
}
/*#listable-table-treatments > thead > tr > th:nth-child(10) {*/
    /*width: 100px;*/
/*}*/
#listable-table-treatments > thead > tr > th:nth-child(7) {
    width: 200px;
}
#listable-table-treatments > thead > tr > th:nth-child(4),
#listable-table-treatments > thead > tr > th:nth-child(5) {
    width: 50px;
}
#listable-table-treatments > thead > tr > th:nth-child(9),
#listable-table-treatments > thead > tr > th:nth-child(8),
#listable-table-treatments > thead > tr > th:nth-child(6) {
    width: 100px;
}

#listable-table-pocs_first > thead > tr > th:nth-child(1),
#listable-table-pocs > thead > tr > th:nth-child(1) {
    width: 80px;
}
/*#listable-table-pocs_first > thead > tr > th:nth-child(11),*/
/*#listable-table-pocs > thead > tr > th:nth-child(11),*/
/*#listable-table-pocs_first > tbody > tr > th:nth-child(11),*/
/*#listable-table-pocs > tbody > tr > th:nth-child(11) {*/
/*    width: 200px;*/
/*}*/
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .05);
    color: #000;
}
table > thead > tr:nth-child(2) > th {
    color: transparent;
}
table > thead > tr:nth-child(2) > th * {
    color: #000;
}
#listable-table-cp_list > thead > tr > th:nth-child(2) {
    width: 50px;
}
#listable-table-cp_list > thead > tr > th:nth-child(1) {
    width: 50px;
}
#listable-table-cp_list > thead > tr > th:nth-child(5),
#listable-table-cp_list > thead > tr > th:nth-child(4) {
    width: 70px;
}