body {
    font-size: 14px;
}

.card-side-outline {
    border-left: 3px rgb(149, 0, 255) solid !important;
}

.card-header.padding-2_0_0_0 .card-title {
    margin-top: 3px;
}

.content-footer {
    padding: 15px 8px;
}

.dropdown-menu {
    border-radius: 0;
}

.small-nav-links .nav-link {
    padding: 4px 0 4px 16px;
    font-size: 12px;
}

.layout-top-nav .wrapper .main-header {
    margin-left: 0;
}

.sized-div {
    width: 75%;
    margin: auto;
}

.commenter {
    font-style: italic;
}

.comments hr {
    width: 100%;
}

.comments pre {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
}

.checkbox-div {
    width: 100%;
    height: 100%;
}

.legend-box {
    padding-top: 6px;
    height: 110px;
    width: 50%;
    margin-left: 10%;
}

.stat-count-legend {
    margin-top: 1%;
}

.small-legend-select {
    margin-left: 0%;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

/*  ---------  toasts  ---------  */
/* slightly transparent fallback */
.toast {
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: none !important;
}
#toast-container > .toast-info {
    background-image: none !important;
    padding-left: 15px !important;
}

div#toast-container > div {
    border-radius: 0;
    /*box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);*/
    box-shadow: none !important;
    transition: border-radius .3s ease;
    opacity: 0.95;
}

#toast-container > div:hover {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    box-shadow: none;
    border-radius: 20px;
    transition: border-radius .3s ease;
}

#toast-container.toast-top-right {
    top: 62px;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .toast {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
    }
}

/*  ---------  badges  ----------- */
.badge-small {
    /*font-size: 12px;*/
}

/*  ---------  alerts  ----------- */
.alert {
    border-radius: 0;
}

/*  ---------  popover  --------- */
.popover {
    border-radius: 0;
}


/*  ---------  cards  ---------  */
.card {
    border-radius: 0 !important;
}

.card-header {
    border-radius: 0 !important;
    padding: 8px 20px;
}

.card-header.btn {
    text-align: left;
}

/*  ---------  modals  ---------  */
.modal .modal-content {
    border-radius: 0;
}


/*  ----------  forms  ---------  */
.form-control {
    border-radius: 0;
    height: 32px;
    font-size: 14px;
}
.form-control:focus {
    box-shadow: 0 0 5px 3.2px rgba(89, 0, 255, 0.08);
    border-color: #7c79c9;
}

.form-group.has-error label {
    color: #ff1b00;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}

.dropdown-form {
    min-width: 300px;
    padding: 10px;
}
.info-dl dd {
    margin-bottom: 0;
}
.info-dl dt {
    text-align: right;
}


/*  -------  flatpickr  -------  */
.input-group-text,
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-radius: 0;
}

.flatpickr.form-control:not([disabled]),
.form-control.flatpickr-input:not([disabled]) {
    background-color: #fff;
}

.flatpickr-day {
    border-radius: 0;
}

/*.flatpickr-day.selected,*/
/*.flatpickr-day.startRange,*/
/*.flatpickr-day.endRange,*/
/*.flatpickr-day.selected.inRange,*/
/*.flatpickr-day.startRange.inRange,*/
/*.flatpickr-day.endRange.inRange,*/
/*.flatpickr-day.selected:focus,*/
/*.flatpickr-day.startRange:focus,*/
/*.flatpickr-day.endRange:focus,*/
/*.flatpickr-day.selected:hover,*/
/*.flatpickr-day.startRange:hover,*/
/*.flatpickr-day.endRange:hover,*/
/*.flatpickr-day.selected.prevMonthDay,*/
/*.flatpickr-day.startRange.prevMonthDay,*/
/*.flatpickr-day.endRange.prevMonthDay,*/
/*.flatpickr-day.selected.nextMonthDay,*/
/*.flatpickr-day.startRange.nextMonthDay,*/
/*.flatpickr-day.endRange.nextMonthDay {*/
/*  background-color: #ad3f3f;*/
/*}*/
.flatpickr-calendar {
    border-radius: 0;
}


/*  ------ daterangepicker ------ */
div.daterangepicker {
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

div.daterangepicker .btn {
    border-radius: 0;
}

div.daterangepicker div.drp-buttons {
    display: block;
}

div.daterangepicker:not(.show-calendar) div.drp-buttons > span.drp-selected {
    display: none;
}

.font-bold {
    font-weight: bold;
}
.text-muted {
    font-style: italic;
    color: #bbbbbb;
}
/*div.daterangepicker .ranges li.active,*/
/*div.daterangepicker td.active,*/
/*div.daterangepicker td.active:hover {*/
/*  background-color: #ad3f3f;*/
/*}*/


/*.vuecal__cell-date {*/
/*  height: 100%;*/
/*}*/

.loading-overlay {
    width: 110%;
    height: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}


.background-color-f4f4f4 {
    background-color: #f4f4f4;
}
.background-color-ffffff {
    background-color: #ffffff;
}
.border-top-1 {
    border-top: 1px solid #f4f4f4;
}
.border-right-1 {
    border-right: 1px solid #f4f4f4;
}
.box-shadow-none {
    box-shadow: none;
}
.children-align-center, .children-align-center * {
    text-align: center;
}
.children-align-right, .children-align-center * {
    text-align: right;
}
.children-margin-right--2 > * {
    margin-right: -2px !important;
}
.children-margin-right-3 > * {
    margin-right: 3px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.vertical-align-middle {
    vertical-align: middle;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.max-width-500 {
    max-width: 500px;
}
.pointer-events-none {
    pointer-events: none;
}
.padding-0 {
    padding: 0;
}
.padding-5 {
    padding: 5px;
}
.padding-15 {
    padding: 15px;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-30 {
    padding-left: 30px;
}
.text-align-center {
    text-align: center;
}
.text-wrap-none {
    text-wrap: none;
    text-overflow: ellipsis;
}
.height-50 {
    height: 50px;
}
.height-110 {
    height: 110px;
}
.height-100p {
    height: 100%;
}
.width-100p {
    width: 100%;
}
.font-style-italic {
    font-style: italic;
}

.unreviewed-count-wrapper {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    padding: 2px 3px;
    line-height: .9;
    margin-right: 1px;
}

.dropdown-menu, .select2-dropdown {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    border: 1px solid #bbb;
    border-radius: 0;
}
li.disabled {
    opacity: 0.6;
}
ul.dropdown-menu li > div {
    padding: 3px 20px;
}
ul.dropdown-menu li > div > i {
    margin-right: 10px;
}
.popover {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    max-width: 100%;
    color: #777;
}

.btn > a, .btn > a:hover {
    color: inherit;
}

li.indent {
    text-indent: -1em;
    padding-left: 2em;
}
/* knockout stuff */
.invisible {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    height: 0;
}
.invisible * {
    height: 0;
    margin: 0;
    padding: 0;
}
.visible {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s ease-in-out;
}

/* google maps stuff */
body > div.pac-container.pac-logo::after {
    display: none;
}
.pac-item:hover {
    background-color: #d2d6de;
}
.pac-container {
    z-index: 1051 !important;
}

/*.form-group.has-error .form-control:focus,*/
/*.form-group.has-error .input-group-addon:focus {*/
/*    border-color: #3c8dbc;*/
/*}*/
.highlight-low {
    background-color: #ecf0ff;
}
table.table-hover tr:hover td.highlight-low {
    background-color: #e5e9f8;
}
.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.nav.nav-pills.nav-stacked > li {
    border-top: 1px solid #f4f4f4;
}
.nav.nav-pills.nav-stacked > .active {
    background-color: #fff;
}
.nav.nav-stacked.tabbed > li:not(.active) {
    border-top-color: transparent;
    border-bottom-color: transparent;
}


input.search_init {
    color: transparent !important;
}
table ul.multiselect-container.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}
#poc-select-modal,
#delete-modal {
    z-index: 99999;
}
.alert.form-alert {
    margin: -15px -15px 15px -15px;
}
.delete-body {
    height: 100px;
}
#homepage_image {
    width: 100%;
}
.btn.disabled {
    opacity: 0.5 !important;
}
.btn.btn-primary {
    background-color: #555299;
    border-color: #484688;
}
.btn.btn-primary:hover {
    background-color: #484688;
    border-color: #3e3e7d;
}
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #484688;
    border-color: #3e3e7d;
}
.btn.btn-info {
    background-color: #7c79c9;
    border-color: #6d6aba;
}
.btn.btn-info:hover {
    background-color: #6d6aba;
    border-color: #5d5aaa;
}
.btn.btn-info:active,
.btn.btn-info:focus {
    background-color: #6d6aba;
    border-color: #5d5aaa;
}
.alert.alert-info,
.callout.callout-info {
    background-color: #7c79c9 !important;
    border-color: #6d6aba;
    color: #ffffff;
}
.alert.alert-primary,
.callout.callout-primary {
    background-color: #555299 !important;
    border-color: #484688;
    color: #ffffff;
}
.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
    border-left-color: #555299;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu .dropdown-item:active {
    background-color: #7c79c9;
}
.card.card-primary {
    border-top-color: #555299;
}
.card.card-info {
    border-top-color: #7c79c9;
}
.card.card-solid.card-info > .card-header {
    background-color: #7c79c9;
}
.card.card-solid.card-info {
    border-color: #7c79c9;
}
.nav-pills .nav-link.active {
    background-color: #7c79c9;
}
.nav-pills .nav-link:not(.active):hover {
    color: #9e9ade;
}
.small-box {
    border-radius: 0;
}