.daterange-div > button.form-control {
    height: 38px;
}

.daterangepicker {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
div.daterangepicker.dropdown-menu button {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
div.daterangepicker.dropdown-menu li {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
div.daterangepicker.dropdown-menu li.active {
    background-color: #7c79c9;
    border-color: #7c79c9;
    color: #fff;
}
div.daterangepicker.dropdown-menu li.active:hover {
    background-color: #7c79c9;
    border-color: #7c79c9;
}
div.daterangepicker.dropdown-menu li:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #7c79c9;
    border-color: transparent;
    color: #fff;
}
.suppress-active > div.ranges > ul > li.active {
    border-color: #ddd;
    background-color: #f4f4f4;
    color: #444;
}
.daterangepicker .ranges li.active {
    border-color: #7c79c9;
    background-color: #7c79c9;
}
.suppress-active > div.ranges > ul > li.active:hover {
    border-color: #7c79c9;
    background-color: #7c79c9;
    color: #fff;
}
.daterangepicker td.in-range:not(.end-date) {
    background-color: #efeff6;
}
.daterangepicker .input-mini.active {
    border-color: #7c79c9;
}
.daterange-div {
    position: relative;
    width: 100%
}
.daterange-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    /*vertical-align: middle;*/
}
div.daterangepicker.dropdown-menu .btn-success {
    background-color: #f4f4f4;
    border-color: #ddd;
    color: #444;
}
div.daterangepicker.dropdown-menu .btn-success:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}
div.daterangepicker.dropdown-menu {
    border-radius: 0;
}
.daterangepicker .calendar .daterangepicker_input input {
    border-radius: 0;
}
body > div.daterangepicker.dropdown-menu > div.calendar > div.calendar-table > table > tbody > tr > td {
    border-radius: 0;
}