.bar.bar-01 {
    fill: #7c79c9;
    stroke: none;
}
.bar.bar-01:hover {
    fill: #6966b5;
}
.bar.bar-02 {
    fill: #6ba6c9;
    stroke: none;
}
.bar.bar-02:hover {
    fill: #5d96b9;
}
.bar.bar-03 {
    fill: #6db98b;
    stroke: none;
}
.bar.bar-03:hover {
    fill: #63af81;
}
text.chart-label {
    font: 12px sans-serif;
}
.white {
    fill: #fff;
}
.chart-title {
    text-align: center;
}
g.y-axis-elem .tick line {
    shape-rendering: crispEdges;
    stroke: #ddd;
}
.chart-tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #8c58aa;
    padding: 14px;
    text-align: center;
}
.legend {
    /*position: absolute;*/
    stroke: #ddd;
    fill: #00ff00;
}
.dt-legend {
    width: 250px;
    height: 30px;
}
.legend-container {
    position: absolute;
    right: 15px;
    top: 15px;
}
.legend-icon {
    width: 10px;
    height: 10px;
}
.legend-icon._01 {
    fill: #7c79c9;
}
.legend-icon._02 {
    fill: #6ba6c9;
}
.legend-label {
    stroke: none;
    fill: #000;
    font-size: 12px;
    font-family: sans-serif;
}
#patient-travel-map {
    height: 500px;
    width: 100%;
}
#daterange-period {
    width: 75%;
}