
.background-color-f4f4f4 {
    background-color: #f4f4f4;
}
.background-color-ffffff {
    background-color: #ffffff;
}
.border-top-1 {
    border-top: 1px solid #f4f4f4;
}
.border-right-1 {
    border-right: 1px solid #f4f4f4;
}
.box-shadow-none {
    box-shadow: none;
}
.children-align-center, .children-align-center * {
    text-align: center;
}
.children-align-right, .children-align-center * {
    text-align: right;
}
.children-margin-right--2 > * {
    margin-right: -2px !important;
}
.children-margin-right-3 > * {
    margin-right: 3px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.vertical-align-middle {
    vertical-align: middle;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.max-width-500 {
    max-width: 500px;
}
.pointer-events-none {
    pointer-events: none;
}
.padding-0 {
    padding: 0;
}
.padding-5 {
    padding: 5px;
}
.padding-15 {
    padding: 15px;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-left-30 {
    padding-left: 30px;
}
.text-align-center {
    text-align: center;
}
.text-wrap-none {
    text-wrap: none;
    text-overflow: ellipsis;
}
.height-50 {
    height: 50px;
}
.height-110 {
    height: 110px;
}
.height-100p {
    height: 100%;
}
.width-100p {
    width: 100%;
}
.font-style-italic {
    font-style: italic;
}

.unreviewed-count-wrapper {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    padding: 2px 3px;
    line-height: .9;
    margin-right: 1px;
}

.dropdown-menu, .select2-dropdown {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    border: 1px solid #bbb;
    border-radius: 0;
}
li.disabled {
    opacity: 0.6;
}
ul.dropdown-menu li > div {
    padding: 3px 20px;
}
ul.dropdown-menu li > div > i {
    margin-right: 10px;
}
.popover {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    max-width: 100%;
    color: #777;
}

.btn > a, .btn > a:hover {
    color: inherit;
}

li.indent {
    text-indent: -1em;
    padding-left: 2em;
}
/* knockout stuff */
.invisible {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    height: 0;
}
.invisible * {
    height: 0;
    margin: 0;
    padding: 0;
}
.visible {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
    .modal-large.xlarge{
        width: 80%; /* either % (e.g. 60%) or px (400px) */
    }
}
.modal-large.xlarge {
    /*margin-left: 0;*/
    width: 80%;
}

/* google maps stuff */
body > div.pac-container.pac-logo::after {
    display: none;
}
.pac-item:hover {
    background-color: #d2d6de;
}
.pac-container {
    z-index: 1051 !important;
}

/* tables */
.pagination {
    float: right;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    /*background-color: #605ca8;*/
    background-color: #555299;
    border-color: #555299;
}
table.table {
    width: 100%;
}

table.dataTable tr td.sorting_1 {
    background-color: rgba(91, 73, 188, 0.16);
    border-color: transparent;
}
table.dataTable tr td.sorting_2 {
    background-color: rgba(91, 73, 188, 0.12);
    border-color: transparent;
}
table.dataTable tr td.sorting_3 {
    background-color: rgba(91, 73, 188, 0.08);
    border-color: transparent;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 2px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
    cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting:before {
    content: '\f07d';
    font-family: FontAwesome;
    padding-right: 8px;
}
table.table thead .sorting_asc:before {
    content: '\f160';
    font-family: FontAwesome;
    padding-right: 8px;
}
table.table thead .sorting_desc:before {
    content: '\f161';
    font-family: FontAwesome;
    padding-right: 8px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: none;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}
.full-width, .filter_column, .filter_column > div.btn-group {
    width: 100% !important;
    /*min-width: 100px;*/
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.table > tbody > tr.active > td {
    background-color: #ecf0ff;
}

.pagination {
    margin: 0;
    float: right;
}
table.table-hover tr.no-hover:hover {
    background-color: inherit;
}
table.table-valign-middle > tbody > tr > td,
table.table-valign-middle > thead > tr > td,
table.table-valign-middle > tfoot > tr > td {
    vertical-align: middle;
}
#listable-table-pocs > thead > tr > th:nth-child(12) {
    width: 80px;
}
#listable-table-p_list > thead > tr > th:nth-child(3) {
    width: 85px;
}
#listable-table-treatments > thead > tr > th:nth-child(1) {
    width: 80px;
}
/*#listable-table-treatments > thead > tr > th:nth-child(10) {*/
    /*width: 100px;*/
/*}*/
#listable-table-treatments > thead > tr > th:nth-child(7) {
    width: 200px;
}
#listable-table-treatments > thead > tr > th:nth-child(4),
#listable-table-treatments > thead > tr > th:nth-child(5) {
    width: 50px;
}
#listable-table-treatments > thead > tr > th:nth-child(9),
#listable-table-treatments > thead > tr > th:nth-child(8),
#listable-table-treatments > thead > tr > th:nth-child(6) {
    width: 100px;
}

#listable-table-pocs_first > thead > tr > th:nth-child(1),
#listable-table-pocs > thead > tr > th:nth-child(1) {
    width: 80px;
}
#listable-table-pocs_first > thead > tr > th:nth-child(11),
#listable-table-pocs > thead > tr > th:nth-child(11),
#listable-table-pocs_first > tbody > tr > th:nth-child(11),
#listable-table-pocs > tbody > tr > th:nth-child(11) {
    width: 200px;
}
.form-group.has-error .form-control:focus,
.form-group.has-error .input-group-addon:focus {
    border-color: #3c8dbc;
}
.highlight-low {
    background-color: #ecf0ff;
}
table.table-hover tr:hover td.highlight-low {
    background-color: #e5e9f8;
}
.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.nav.nav-pills.nav-stacked > li {
    border-top: 1px solid #f4f4f4;
}
.nav.nav-pills.nav-stacked > .active {
    background-color: #fff;
}
.nav.nav-stacked.tabbed > li:not(.active) {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#listable-table-cp_list > thead > tr > th:nth-child(2) {
    width: 50px;
}
#listable-table-p_list > thead > tr > th:nth-child(1) {
    width: 80px;
}
input.search_init {
    color: transparent !important;
}
table ul.multiselect-container.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}
#poc-select-modal,
#delete-modal {
    z-index: 99999;
}
.alert.form-alert {
    margin: -15px -15px 15px -15px;
}
.delete-body {
    height: 100px;
}
#homepage_image {
    width: 100%;
}
.btn.disabled {
    opacity: 0.5 !important;
}


