{% extends "rpalpal_base.html" %}

{% load listable %}

{% block head_title %}{{page_title}}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}bootstrap-multiselect/css/bootstrap-multiselect.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-daterangepicker.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-multiselect.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
    {% autoescape off %}
        {% listable view_name dom="<'row'<'col-sm-5'i><'col-sm-7'p>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-7'p>>" requirejs=True pagination_type='bootstrap3' css_table_class='table-hover table-condensed' css_input_class='btn-flat btn-sm input-sm full-width' auto_width=False %}
    {% endautoescape %}
{% endblock %}

{% block require_javascript %}
    require(['listable']);
{% endblock require_javascript %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{page_title}}</h3>
                </div>
                <div class="card-body pad">
                    {{ listable_table }}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}