{% extends "rpalpal_base.html" %}

{% load crispy_forms_tags %}

{% block title %}Careplan{% endblock title %}

{% block extra_css %}
  {{ block.super }}
  {#    <link href="{{ STATIC_URL }}dateline/css/dateline.css?v={{ VERSION }}" rel="stylesheet">#}
  <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}rpalpal_core/css/custom-select2.css?v={{ VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
  require(['careplan_form']);
{% endblock require_javascript %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Careplan Form</h4>
          </div>
          <div class="card-body">
            <form method="post" novalidate>
              {% crispy form %}
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock content %}