<div id="date-deceased-div" class="col-xs-11" {% if not patient.deceased %}style="display: none;"{% endif %}>
    {{ field }}
    {% for e in field.errors %}
        <div class="col-sm-12 help-block text-center">{{ e }}</div>
    {% endfor %}
</div>