{#{% load crispy_forms_tags %}#}
<div class="col-sm-12 form-horizontal">
    <div class="form-group{% if form.date_deceased.errors %} has-error{% endif %}">
        <label for="" class="col-sm-4">Deceased</label>
        <div class="col-sm-8">
            <div class="row">
                {{ fields|safe }}
            </div>
        </div>
    </div>
</div>
