{% extends "rpalpal_base.html" %}

{% load crispy_forms_tags %}

{% block extra_css %}
    {{ block.super }}
{#    <link href="{{ STATIC_URL }}dateline/css/dateline.css?v={{ VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-select2.css?v={{ VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
        require(['patient_form']);
{% endblock require_javascript %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Patient Form</h4>
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}