<div style="min-width: 85px;">
{#    <a class="btn bg-purple btn-xs btn-flat" href="{% url 'p_edit' p.pk %}{% if next %}?next={{ next }}{% endif %}">Edit</a>#}
    <a class="btn btn-default btn-xs btn-flat" href="{% url 'p_details' %}?p_id={{ p.pk }}{% if next %}&next={{ next }}{% endif %}">Details</a>
</div>