<div class="row">
    <div class="col-sm-3">
        <div class="btn btn-default btn-flat btn-sm" data-toggle="modal" data-target="#poc-select-modal">Choose POC</div>
    </div>
    <div class="col-sm-9">
        <div id="chosen-poc-display"></div>
    </div>
</div>