
{% extends "rpalpal_base.html" %}

{% load rpalpal_tags %}

{% block title %}Stats{% endblock title %}

{% block extra_css %}
    {{ block.super }}
{#    <link href="{{ STATIC_URL }}dateline/css/dateline.css?v={{ VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}flatpickr/css/flatpickr.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-daterangepicker.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-flatpickr.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpal/css/charts.css?v={{ CSS_VERSION }}" rel="stylesheet">

{% endblock extra_css %}

{% block require_javascript %}
        require(['stats']);
{% endblock require_javascript %}

{% block extra_js %}
    <script>
        var oldest_moment = {{ oldest_moment|safe }};

        var stats_urls = {
            DL_POC: '{% url 'visit_csv' %}',
            DL_TC: '{% url 'treatment_course_csv' %}',
            DL_RC: '{% url 'referral_csv' %}',
            DL_DC: '{% url 'diagnosis_csv' %}',
            DL_P: '{% url 'patients_csv' %}'
        }
    </script>
{% endblock extra_js %}

{% block content %}

    <div class="row">
        <div class="col-sm-4 ">
            <div id="period-box" class="small-box bg-purple">
                <div class="inner height-110">
                    <h4 for="daterange-period">Period</h4>
                    <p>
                        <input id="daterange-period" type="text" class="form-control" autocomplete="off"/>
                    </p>
                </div>
                <div class="icon pointer-events-none">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Download CVS Files</h4>
                </div>
                <div class="card-body children-margin-right-3">
                    <div id="dl_poc" class="btn btn-default btn-flat pull-right" title="Filtered by point of contact date">Points Of Contact</div>
                    <div id="dl_tc" class="btn btn-default btn-flat pull-right" title="Filtered by treatment course start date">Treatment Courses</div>
                    <div id="dl_rc" class="btn btn-default btn-flat pull-right" title="Filtered by date referred">Referrals</div>
                    <div id="dl_dc" class="btn btn-default btn-flat pull-right" title="Filtered by diagnosis date">Diagnoses</div>
                    <div id="dl_p" class="btn btn-default btn-flat pull-right" title="Filtered by date entered">Patients</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Demographics</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="chart-title">Demographics</h4>
                        </div>
                    </div>
                    <div id="demographics-sliders-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Patient travel</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="dt_legend" class="legend-container"></div>
                            <h4 class="chart-title">Average Travel Duration History</h4>

                        </div>
                    </div>
                    <div id="patient-travel-chart"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="chart-title">Patient Travel Map</h4>
                        </div>
                    </div>
                    <div id="patient-travel-map"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}