{% if field.is_hidden %}
  {{ field }}
{% else %}
  <div class="form-group row {% if field.errors %}has-error{% endif %}">
    {% if 'autosize' in field.field.widget.attrs.class %}
      <div class="col-sm-12">
        <label for="{{ field.id_for_label }}" {% comment %}class="{% if field.field.required %} required{% endif %}"{% endcomment %}>{{ field.label }}</label>
        {{ field }}
        {% for e in field.errors %}
          <div class="col-sm-12 help-block text-center">{{ e }}</div>
        {% endfor %}
      </div>
    {% else %}
      <label for="{{ field.id_for_label }}"
             class="col-sm-4{% comment %}{% if field.field.required %} required{% endif %}{% endcomment %}">{{ field.label }}</label>

      <div class="col-sm-8">
        {{ field }}
      </div>
      {% for e in field.errors %}
        <div class="col-sm-12 help-block text-center">{{ e }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}