{% extends "rpalpal_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{#{% block body_class %}home{% endblock %}#}

{% block content %}
  <div class="container">
    <h2>{% trans "Welcome to the Rapid Palliative Radiotherapy Program Database" %}</h2>
    <div class="row">
      <div class="col-sm-9">
        {% if perms.rpal.change_patient %}
          <ul>
            <li><a title="View patients" href="{% url 'p_list' %}">View list of patients</a></li>
            <li><a title="Add/Edit patient" href="{% url 'p_details' %}">Add/Edit patient</a></li>
          </ul>
        {% endif %}
        {% if perms.rpal.change_careplan %}
          <ul>
            <li><a title="View careplans" href="{% url 'cp_list' %}">View list of careplans</a></li>
            <li><a title="Add careplan" href="{% url 'cp_new' %}">Add careplan</a></li>
          </ul>
        {% endif %}
        {% if perms.rpal.can_view_treatments %}
          <ul>
            <li><a title="View treatments" href="{% url 'treatments' %}">View list of treatments</a></li>
          </ul>
        {% endif %}
        {% if perms.rpal.view_stats %}
          <ul>
            <li><a title="View stats" href="{% url 'stats' %}">View statistics</a></li>
          </ul>
        {% endif %}
      </div>
      <div class="col-sm-3">
        <figure>
          <img id="homepage_image" src="{{ STATIC_URL }}rpalpal_core/img/homepage_01.jpg">
          <figcaption>The Rapid Palliative Radiotherapy team</figcaption>
        </figure>
      </div>
    </div>
  </div>
{% endblock %}
