{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <title>RPalPal :: {% block title %}Home{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block style_base %}
    <link href="{{ STATIC_URL }}fontawesome/css/all{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}adminlte/css/AdminLTE.css?v={{ CSS_VERSION }}" rel="stylesheet">
    {#            <link href="{{ STATIC_URL }}adminlte/css/skin-blue.min.css?v={{ VERSION }}" rel="stylesheet">#}
    {#            <link href="{{ STATIC_URL }}css/project.css?v={{ VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}toastr/css/toastr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/print.css?v={{ VERSION }}" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
  {% endblock style_base %}

  <script>
      const SiteConfig = {
          forceScriptName: "{{ FORCE_SCRIPT_NAME }}",
          baseStaticUrl: "{{ STATIC_URL }}",
          version: "{{ VERSION }}",
          debug: "{{ DEBUG }}",
          google_api_key: "{{ GOOGLE_API_KEY }}",
          min: "{{ MIN }}",
          css_version: "{{ CSS_VERSION }}"
      };
      const RPP_URLs = {
          patients_mrn_searcher: "{% url 'patients_mrn_searcher' %}",
          referrals_searcher: "{% url 'referrals_searcher' %}",
          physician_searcher: "{% url 'physician_searcher' %}",
          active_physicians_searcher: "{% url 'active_physicians_searcher' %}",
          active_rad_oncs_searcher: "{% url 'active_rad_oncs_searcher' %}",
          patients_searcher: "{% url 'patients_searcher' %}",
          diagnoses_searcher: "{% url 'diagnoses_searcher' %}",
          diagnosis_create_update_ajax: "{% url 'diagnosis_create_update_ajax' %}",
          visits_searcher: "{% url 'visits_searcher' %}",
          careplan_searcher: "{% url 'careplan_searcher' %}",
          all_treatment_courses_searcher: "{% url 'all_treatment_courses_searcher' %}",
          object_create_update_ajax: "{% url 'object_create_update_ajax' %}",
          delete_object_ajax: "{% url 'delete_object_ajax' %}",
          metastatic_cancer_sites_searcher: "{% url 'metastatic_cancer_sites_searcher' %}",
          get_stat_data: "{% url 'get_stat_data' %}",
      };
  </script>

  <script src="{{ STATIC_URL }}requirejs/js/require.js"></script>
  <script type="text/javascript">
      require(['{{ STATIC_URL }}requirejs/js/require_config.js?v={{ CSS_VERSION }}'], function (require_config) {
          {% block require_javascript %}
          {% endblock require_javascript %}
          {% if messages %}
              require(['toastr'], function (t) {
                  t.options = {
                      "closeButton": false,
                      "debug": false,
                      "newestOnTop": false,
                      "progressBar": false,
                      "positionClass": "toast-bottom-right",
                      "preventDuplicates": false,
                      "onclick": null,
                      "showDuration": "300",
                      "hideDuration": "1000",
                      "timeOut": "3000",
                      "extendedTimeOut": "5000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut",
                      // "tapToDismiss": true
                  };
                  {% for m in messages %}
                      t['{{ m.tags }}']("{{ m }}");
                  {% endfor %}
              })
          {% endif %}
      });
  </script>

  {% block extra_js %}
  {% endblock extra_js %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body class="fixed {% block body_class %}layout-top-nav{% endblock body_class %}">

<div class="wrapper">
  <nav class="main-header navbar navbar-expand-md navbar-dark navbar-purple">
    <div class="container-fluid">
      <a href="{% url 'home' %}" class="navbar-brand">
        {#        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">#}
        <span class="brand-text font-weight-light"><b>RP</b>al<b><sup>2</sup></b></span>
      </a>

      {#      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
      {#        <span class="navbar-toggler-icon"></span>#}
      {#      </button>#}

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            </li>
            {% if perms.rpal.change_patient %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Patients<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
{#                  <li><a class="dropdown-item" href="{% url "p_new" %}" title="Enter a new patient">#}
{#                    Enter New Patient#}
{#                  </a></li>#}
                  <li><a class="dropdown-item" href="{% url "p_details" %}"
                         title="Look at program details for a patient">
                    Patient Details
                  </a></li>
                  <li><a class="dropdown-item" href="{% url "p_list" %}"
                         title="List existing patients">
                    All Patients
                  </a></li>

                </ul>
              </li>
            {% endif %}
            {% if perms.rpal.change_careplan %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Careplans<b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="{% url 'cp_new' %}" title="Enter a new careplan">
                    Enter New Careplan
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'cp_list' %}"
                         title="List existing careplans">
                    All Careplans
                  </a></li>
                </ul>
              </li>
            {% endif %}
            {% if perms.rpal.can_view_poc %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pocs' %}" title="View point of contacts">
                  Point Of Contacts
                </a>
              </li>
            {% endif %}
            {% if perms.rpal.can_view_treatments %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'treatments' %}" title="View treatments">
                  Treatments
                </a>
              </li>
            {% endif %}
            {% if perms.rpal.view_stats %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'stats' %}" title="View stats">
                  Stats
                </a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>

      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a id="sign-out-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" class="nav-link dropdown-toggle">
              <i class="icon-cogs"></i>{{ request.user }}<b class="caret"></b>
            </a>
            <ul aria-labelledby="sign-out-dropdown"
                class="dropdown-menu border-0 shadow dropdown-menu-right">
              {% if request.user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                  {#                  <i class="fas fa-tasks"></i>#}
                  Admin
                </a></li>
              {% endif %}
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">
                {#                <i class="fas fa-sign-out-alt"></i>#}
                Logout
              </a></li>
            </ul>
          </li>

        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
        {#      <li class="nav-item min-width-60"></li>#}
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="content-header">
      </div>
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="no-print">
        <div class="row">
          <div class="col-sm-12 children-align-center">
            TOHCC RPalPal v{{ VERSION }} | &copy; 2017 The Ottawa Hospital Cancer Center
          </div>
        </div>
      </div>
    </div>
  </div>


  {#            <aside class="control-sidebar control-sidebar-dark">#}
  {##}
  {#                <div class="tab-content">#}
  {#                    {% if user.is_authenticated %}#}
  {#                        <ul class="control-sidebar-menu">#}
  {#                            <li><a href="{% url 'account_details' %}" class="margin-left-10 control-sidebar-subheading">#}
  {#                                <i class="fa fa-user-circle-o fa-fw"></i>#}
  {#                                {% trans "Account Details" %}#}
  {#                            </a></li>#}
  {#                            <li><a href="{% url 'logout' %}" class="margin-left-10 control-sidebar-subheading">#}
  {#                                <i class="fa fa-sign-out fa-fw"></i>#}
  {#                                {% trans "Logout" %}#}
  {#                            </a></li>#}
  {#                        </ul>#}
  {#                        {% if user.is_staff %}#}
  {#                            <h4 class="control-sidebar-heading">Admin Options</h4>#}
  {#                            <ul class="control-sidebar-menu">#}
  {#                                <li><a href="{% url 'admin:index' %}" class="margin-left-10 control-sidebar-subheading">#}
  {#                                    <i class="fa fa-cog fa-fw"></i> Admin#}
  {#                                </a></li>#}
  {#                            </ul>#}
  {#                        {% endif %}#}
  {##}
  {##}
  {#                    {% else %}#}
  {#                        <h4 class="control-sidebar-heading">Account</h4>#}
  {#                        <ul class="control-sidebar-menu">#}
  {#                            <li><a href="{% url 'auth_login' %}" class="margin-left-10 control-sidebar-subheading">#}
  {#                                <i class="fa fa-sign-in fa-fw"></i>#}
  {#                                {% trans "Login" %}#}
  {#                            </a></li>#}
  {#                        </ul>#}
  {#                    {% endif %}#}
  {#                </div>#}
  {##}
  {#            </aside>#}
  <!-- The sidebar's background -->
  <!-- This div must placed right after the sidebar for it to work-->
{#  <div class="control-sidebar-bg"></div>#}

</div>

{% block modal %}{% endblock modal %}

</body>
</html>
