{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <link href="{{ STATIC_URL }}fontawesome/css/font-awesome.min.css?v={{ VERSION }}" rel="stylesheet">
    <style type="text/css">
        #header {
            background-color: #454289;
        }
        #header > #branding > #site-name,
        #header > #branding > #site-name > a {
            color: #ffffff;
        }
    {#    #header > #branding > #site-name > a:hover {#}
    {#        color: #79aec8;#}
    {#    }#}
        #content-main > div > table > caption,
        #container > div.breadcrumbs,
        div.selector-chosen > h2,
        #changelist-filter > h2,
        fieldset.module > h2 {
            background-color: #796fbf;
        }
        .calendar > table > caption,
        .clockbox > h2 {
            background-color: #897fd6;
        }
        #back_home_link {
            font-size: small !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            margin-right: 50px;
        }
        #back_home_link:hover {
            color: #79aec8 !important;
            border-bottom: 1px solid #79aec8;
        }
        .margin-top-10 {
            margin-top: 10px !important;
        }
        .padding-left-15 {
            padding-left: 15px;
        }
        #content-main > div > table > tbody > tr > td.sub-header {
            background-color: #a096ea;
            color: #fff;
            border: 5px solid #fff;
            margin-left: 10px !important;
            margin-right: 10px !important;
            padding: 5px !important;
        }
        .object-tools a:focus, .object-tools a:hover {
            background-color: #484688;
        }
        .button, input[type=submit], input[type=button], .submit-row input, a.button {
            background-color: #7c79c9;
        }
        .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
            background-color: #625fa9;
        }
        .button.default, input[type=submit].default, .submit-row input.default {
            background-color: #555299;
        }
        .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
            background-color: #484688;
        }


    </style>
{% endblock %}
{% block title %}{{ title }} | {% trans 'RPalPal Admin Site' %}{% endblock %}

{% block branding %}
    <a id="back_home_link" href="{% url 'home' %}" title="RPalPal Home"><i class="fa fa-arrow-left"></i>{% trans ' Back to ' %}RP<sup>2</sup></a>
    {% comment %}{% trans 'RPalPal administration' %}{% endcomment %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}{% endblock %}

{% block content_title %}{% if title %}{% if title == 'Site administration' %}<h1>{% trans 'RPalPal Admin Site' %}</h1>{% else %}<h1>{{ title }}</h1>{% endif %}{% endif %}{% endblock %}

{% block breadcrumbs %}
{#    <div class="breadcrumbs">#}
{#    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>#}
{#    {% if title %} &rsaquo; {{ title }}{% endif %}#}
{#    </div>#}
    {% endblock %}

{% block footer %}

{{ block.super }}

    <script>
    {#    if (window.django){#}
    {#        django.jQuery(function(){#}
    {##}
    {#            django.jQuery("form").submit(function() {#}
    {##}
    {#                if (this.beenSubmitted){#}
    {#                    return false;#}
    {#                } else {#}
    {#                    django.jQuery(this).find("input[type=submit]").val("Submitting...");#}
    {#                    this.beenSubmitted = true;#}
    {#                }#}
    {##}
    {#            });#}
    {#            django.jQuery('.breadcrumbs > a:contains("Home")').text('Admin');#}
    {#            console.log(django.jQuery('.breadcrumbs > a:contains("Home")'));#}
    {#        });#}
    {#    }#}
    django.jQuery(document).ready(function(){
        django.jQuery('.breadcrumbs > a:contains("Home")').text('Admin');
    });

    </script>
{% endblock footer %}
