{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load rpalpal_tags %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">

        {% if app_list %}
            {% for app in app_list %}
                {% if app.app_label == 'rpal' %}

                    <div class="app-{{ app.app_label }} module">
                        <table>
                            <caption>
                                <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                            </caption>
{#                            {% for model in app.models %}#}
                                <tbody>
                                {% for sa in ADMIN_FIELDS %}
                                    <tr>
                                        <td colspan="3" class="section sub-header margin-top-10" title="{{ sa }} related fields">{{ sa }}</td>
                                    </tr>
                                    {% for f in ADMIN_FIELDS|lookup:sa %}
                                        {% with app.models|get_model:f as model %}

                                            <tr class="model-{{ model.object_name|lower }}">
                                                <th scope="row" class="padding-left-15">
                                                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                                    {% if model.help_text %}
                                                    <div class="pull-right quiet">
                                                        {{ model.help_text }}
                                                    </div>
                                                    {% endif %}
                                                </th>
                                                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                                                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>

{#                            {% endfor %}#}

                        </table>
                    </div>

                {% else %}
                    <div class="app-{{ app.app_label }} module">
                    <table>
                    <caption>
                        <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
                    </caption>
                    {% for model in app.models %}
                        <tr class="model-{{ model.object_name|lower }}">
                        {% if model.admin_url %}
                            <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                        {% else %}
                            <th scope="row">{{ model.name }}</th>
                        {% endif %}

                        {% if model.add_url %}
                            <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}

                        {% if model.admin_url %}
                            <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
