{% extends "admin/change_form.html" %}
{% load i18n %}

{#{% load i18n admin_static admin_modify %}#}
{#{% load admin_urls %}#}
{% block extrastyle %}
    {{ block.super }}
{#    <link href="{% static "css/select2.min.css" %}" rel="stylesheet">#}
{% endblock %}

{% block extrahead %}

    {{ block.super }}

    {#<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}h/admin/css/tree.css"/>#}

{#    {% compressed_js "jquery" %}#}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places"></script>
    <script>
        (function($){

            $(document).ready(function($) {

                var home_address = $('#id_address'),
                    home_address_autocomplete;

                function initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                var center = new google.maps.LatLng(45.4, -75.6);
                var circle = new google.maps.Circle({
                    center: center,
                    radius: 100000
                });

                home_address_autocomplete = new google.maps.places.Autocomplete(
                    home_address[0],
                    {
                        types: ['geocode'],
                    }
                );
                home_address_autocomplete.setBounds(circle.getBounds());

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                // home_address_autocomplete.addListener('place_changed', fillInAddress);
            }
            initAutocomplete();

            });

        })(django.jQuery);
    </script>

{% endblock %}
