/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #DDDDDD;
    /*.dow {
      border-top: 1px solid #ddd !important;
    }*/

}
.add-on {
    color: #DDDDDD;
}

.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #DDDDDD;
    border-bottom-color: #222222;
    position: absolute;
    top: -7px;
    left: 6px;
}
.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}
.datepicker > div {
    display: none;
}
.datepicker.dropdown-menu {
    -webkit-box-shadow: 0 5px 10px rgba(221, 221, 221, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(221, 221, 221, 0.2);
            box-shadow: 0 5px 10px rgba(221, 221, 221, 0.2);
    background-color: #222222;
}
.datepicker table {
    width: 100%;
    margin: 0;
    border-spacing: 1px;
}

.datepicker td,
.datepicker th,
.datepicker span {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.day {
    background-color: #444444;
    color: #DDDDDD;
    text-shadow: 2px 2px 2px #224499/*rgba(0, 0, 0, 0.25)*/;
}
.datepicker td.day:hover {
    color: #DDDDDD;
    background-color: #4477EE;
    /*background-image: -moz-linear-gradient(top, #4477EE, #224499);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4477EE), to(#224499));*/
    /*background-image: -webkit-linear-gradient(top, #4477EE, #224499);*/
    /*background-image: -o-linear-gradient(top, #4477EE, #224499);*/
    /*background-image : linear-gradient(to bottom, #4477EE, #224499);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);*/
    /**background-color: #224499;*/
    cursor: pointer;
}
.datepicker td.day.disabled {
    color: #333333 !important;
    text-shadow: none;
}
.datepicker td.day.disabled:hover {
    background: #444444;
    cursor: default;
}
.datepicker td.old,
.datepicker td.new {
    color: #777777;
    background-color: #444444;
    text-shadow: 1px 1px 4px #003366;
}

.datepicker td.active,
.datepicker td.active:hover {
    color: #DDDDDD !important;
    border: 1px solid #222222;
    background-color: #222222;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #222222));*/
    /*background: -webkit-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: -moz-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: -ms-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: -o-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: linear-gradient(to bottom, #585858 0%, #222222 100%);*/
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
    color: #ffffff !important;
    background-color: #222222 !important;
    *background-color: #222222 !important;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
    background-color: #222222 !important;
    border-color: #222222;
}

.datepicker td span {
    display: block;
    width: 33.3%;
    height: 54px;
    line-height: 54px;
    float: left;
    background-color: #444444;
    /*margin: 2px;*/
    cursor: pointer;
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
}

.datepicker td span:hover {
    color: #DDDDDD;
    background-color: #4477EE;
    /*background-image: -moz-linear-gradient(top, #4477EE, #224499);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4477EE), to(#224499));*/
    /*background-image: -webkit-linear-gradient(top, #4477EE, #224499);*/
    /*background-image: -o-linear-gradient(top, #4477EE, #224499);*/
    /*background-image : linear-gradient(to bottom, #4477EE, #224499);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);*/
    /**background-color: #224499;*/
    cursor: pointer;
}

.datepicker td span.active {
    color: #DDDDDD !important;
    border: 1px solid #222222;
    background-color: #222222;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #222222));*/
    /*background: -webkit-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: -moz-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: -ms-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: -o-linear-gradient(top, #585858 0%, #222222 100%);*/
    /*background: linear-gradient(to bottom, #585858 0%, #222222 100%);*/
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
    color: #ffffff !important;
    background-color: #0044cc !important;
    *background-color: #003bb3 !important;
}

.datepicker td span.active:active,
.datepicker td span.active.active {
    background-color: #003399 !important;
}

.datepicker td span.old {
    color: #444444 !important;
}

.datepicker th.switch {
    width: 145px;
}

.datepicker th.next,
.datepicker th.prev {
    font-size: 21px;
}

.datepicker thead tr:first-child th {
    cursor: pointer;
    /*background-color: #003366;*/
}

.datepicker thead tr:first-child th:hover {
    color: #DDDDDD !important;
    background-color: #003366 !important;
    /*background-image: -moz-linear-gradient(top, #4477EE, #224499) !important;*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4477EE), to(#224499)) !important;*/
    /*background-image: -webkit-linear-gradient(top, #4477EE, #224499) !important;*/
    /*background-image: -o-linear-gradient(top, #4477EE, #224499) !important;*/
    /*background-image: linear-gradient(to bottom, #4477EE, #224499) !important;*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0) !important;*/
    /*border-color: #4477EE #224499 #003366 !important;*/
    /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;*/
    /**background-color: #224499 !important;*/
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}