
.felter.felter-container {
    border-radius: 3px;
    border: 1px solid #dddddd;
    padding: 10px 0 5px 0;
}
.felter.felter-container .option-container {
    overflow-x: hidden;
    overflow-y: hidden;
}
.felter.felter-container .option-container:hover {
    overflow-y: auto;
}
.felter.felter-container .title-container {
    padding-left: 10px;
    /*margin: 10px 0 0 0;*/
    border-bottom: 1px solid #e1e3e9;
}
.felter.felter-container .top-option-container {
    border-bottom: 1px solid #e1e3e9;
    padding: 5px 0;
}
.felter .felter-top-option {
    font-style: italic;
    padding: 0 5px;
}
.felter .felter-option:hover, .felter .felter-top-option:hover {
    background-color: #3c8dbc;
    color: #ffffff;
    cursor: pointer;
}
.felter .hide {
    display: none;
}
.select-all-container {
    width: 50%;
    display: inline-block;
    padding: 5px;
}
.felter-selectall, .felter-selectnone {
    width: 100%;
    overflow-x: hidden;
}
.felter .felter-selected {
    background-color: #c1cfdd;
}
.felter .felter-option {
    padding-left: 5px;
}