{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <title>RPalPal :: {% block title %}Login{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block style_base %}
    <link href="{{ STATIC_URL }}fontawesome/css/fontawesome{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}adminlte/css/AdminLTE.css?v={{ CSS_VERSION }}" rel="stylesheet">
    {#            <link href="{{ STATIC_URL }}adminlte/css/skin-blue.min.css?v={{ VERSION }}" rel="stylesheet">#}
    {#            <link href="{{ STATIC_URL }}css/project.css?v={{ VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}toastr/css/toastr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}rpalpal_core/css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">

{#    {% block extra_css %}{% endblock extra_css %}#}
  {% endblock style_base %}

  <script>
      var SiteConfig = {
          doseUnit: "{{ DOSE_UNIT }}",
          forceScriptName: "{{ FORCE_SCRIPT_NAME }}",
          djangojsFix: "{{ DJANGOJS_FIX }}",
          baseStaticUrl: "{{ STATIC_URL }}",
          version: "{{ VERSION }}",
          debug: "{{ DEBUG }}",
          min: "{{ MIN }}",
          css_version: "{{ CSS_VERSION }}"
      };
  </script>

  <script src="{{ STATIC_URL }}requirejs/js/require{{ MIN }}.js"></script>
  <script type="text/javascript">
      require(['{{ STATIC_URL }}requirejs/js/require_config.js?v={{ CSS_VERSION }}'], function (require_config) {
          {% block require_javascript %}
          {% endblock require_javascript %}
          {% if messages %}
            require(['toastr'], function (t) {
                t.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "3000",
                    "extendedTimeOut": "5000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    // "tapToDismiss": true
                };
                {% for m in messages %}
                  console.log({{ m }});
                {% endfor %}
            })
          {% endif %}
      });
  </script>

  {% block extra_js %}
  {% endblock extra_js %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>


<body class="login-page" style="min-height: 512.391px;">
<div class="login-box">
  <div class="login-logo">
    {#    <img src="{{ STATIC_URL }}rooster_core/img/rooster.png" class="img-circle rooster-icon" alt="User Image">#}
    <span class="brand-text font-weight-light"><b>RPalPal</b></span>
  </div>
  <!-- /.login-logo -->
  {% block content %}
  {% endblock %}

</div>
<!-- /.login-box -->

</body>
