{% extends "registration/base.html" %}

{% load i18n %}
{% load rpalpal_tags %}
{% block title %}{% trans "Log In" %}{% endblock %}
{% block page_title %}{% trans "Log In To RPalPal" %}{% endblock %}


{% block content %}
<div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form method="POST" action="{% url "login" %}" autocapitalize="off">
        <fieldset>
          {% csrf_token %}


          {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field|addcss_addplaceholder:"form-control" }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% if field.help_text %}
                  <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
          {% endif %}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-flat float-right">{% trans "Log in" %}</button>
          </div>
        </fieldset>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
{% endblock %}